:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --wite-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --network-color: #afb1b8;
  --network-bg-color-footer: rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family:
    Racing Sans One,
    Roboto,
    Comfortaa,
    Lato,
    sans-serif;
  letter-spacing: 0.08em;
}

.list {
  list-style: none;
  font-style: normal;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid tomato; */
}

.title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.title.white {
  color: var(--wite-color);
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flexContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* header */

header {
  padding: 32px 10px;
  /* background-color: background: #000000; */
  background: linear-gradient(
    180deg,
    hsla(221, 48%, 11%, 1) 0%,
    hsla(214, 7%, 21%, 1) 100%
  );
  /* background-color: var(--secondary-bg-color); */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumb {
  width: 100px;
  height: 100px;
}

.logo-img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.site-nav.list {
  display: none;
}

@media screen and (min-width: 480px) {
  .site-nav.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item {
    padding-right: 24px;
  }

  @media screen and (min-width: 768px) {
    .item {
      padding-right: 40px;
    }
  }

  .item > a {
    text-decoration: none;
    color: var(--wite-color);
    transition-duration: 350ms;
  }
}

.item :hover {
  color: var(--secondary-text-color);
  transition-duration: 350ms;
}

/* mibile menu */

.modal__btn,
.modal__btn--close {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px;
  border: 0;

  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .modal__btn {
    display: none;
  }
}

.modal__btn--close {
  position: absolute;
  top: 58px;
  right: 10px;
}

.modal__btn--img {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: none;
  /* background-color: var(--secondary-bg-color); */
  background: linear-gradient(
    180deg,
    hsla(221, 48%, 11%, 1) 0%,
    hsla(214, 7%, 21%, 1) 100%
  );
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  opacity: 0;
  transition-duration: 350ms;
}

.mobile-menu.active {
  display: block;
  opacity: 1;
  left: 0;
  transition-duration: 350ms;
}

.site-nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px 50px 65px 40px;
}

.item__mobile {
  padding: 20px 0;
  border-bottom: 1px solid var(--wite-color);
}
.item__mobile :hover {
  color: var(--secondary-text-color);
  transition-duration: 350ms;
}

.item__mobile > a {
  text-decoration: none;
  color: var(--wite-color);
}

/* main */

.about {
  background-color: var(--wite-color);
}

.schelde {
  background-color: var(--wite-color);
}

/* hero */

.hero {
  padding-top: 118px;
  margin: 0 auto;
  /* max-width: 1600px; */
  height: 400px;
  background-color: #c4c4c4;
  background-image:
    linear-gradient(to left, rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.7)),
    url(./img/hero-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 100vh;
  }
}

.mainTitle {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  /* font-family: "Racing Sans One"; */
  font-weight: 400;
  font-size: 44px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 50px;
  }
}

/* about */

.text {
  padding: 0 0 24px;
}

@media screen and (min-width: 768px) {
  .text {
    padding: 0 24px 0 0;
    width: 40vw;
  }
}

/* gallery */

.swiper {
  width: 320px;
  height: 300px;
}

/* @media screen and (min-width: 480px) {
  .swiper {
    width: 450px;
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 600px;
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 1100px;
    height: 300px;
  }
} */

/* contacts */

.addres {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addres__link {
  text-decoration: none;
  color: var(--wite-color);
  font-size: 24px;
  padding-bottom: 16px;
}

.iframe {
  width: 320px;
  height: 250px;
}

@media screen and (min-width: 480px) {
  .iframe {
    width: 480px;
    height: 350px;
  }
}
/* @media screen and (min-width: 768px) {
  .iframe {
    width: 320px;
    height: 250px;
  }
} */
/* @media screen and (min-width: 1200px) {
  .iframe {
    width: 320px;
    height: 250px;
  }
} */

/* footer */

.footer {
  background-color: var(--wite-color);
  padding: 24px 0;
}

.footerFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 350px; */
}

@media screen and (min-width: 1200px) {
  .footerFlexContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px 0 0 0;
  width: 150px;
}

.social__link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.addres__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0 0 0;
}

.addres__link {
  padding: 0 0 16px 0;
}

.addres__link.black {
  color: var(--primary-text-color);
}
